# ================= EXAMPLE OF ENV FILE ====================
# HERE WE HAVE ONLY REQUIRED VARIABLES
# already commented variables are not required and are additional

# !REQUIRED FOR PRODUCTION MODE!
#DOMAIN=example.com

# DEBUG MODE
DEBUG=1

# ============== POSTGRESQL ==============
POSTGRES_PORT=5432
POSTGRES_DB=TimeInDataDB
POSTGRES_JOB_STORE_DB=TimeInDataJobStoreDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# POSTGRES_SERVER=localhost


# ============== RABBIT MQ ===============
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_VHOST=time_in_data_vhost
RABBITMQ_REMINDER_QUEUE_NAME=reminder_queue


# ================= REDIS =================
REDIS_PASSWORD=redis-password
REDIS_PATH_TG_BOT='/1'
REDIS_PORT=6379


# ============== API SERVICE =============
API_PORT=8000
#API_HOST='0.0.0.0'


# ============= TELEGRAM BOT ==============
TG_BOT_TOKEN='bot:token'  # Get it from @BotFather
TG_BOT_PORT=8080
#MINIAPP_URL='https://tma.exmaple.ru/'
#TG_BOT_HOST='0.0.0.0'

# FOR WEBHOOK
#TG_BOT_DOMAIN='https://tgbot.example.com'  # if you want to use webhook - you need to set it with httpS and `TG_BOT_WEBHOOK_PATH`!!
#TG_BOT_WEBHOOK_PATH='/tg_bot_webhook'   # if you want to use webhook - you need to set it with `TG_BOT_DOMAIN`
