# Main libraries for telegram bots
aiogram~=3.2.0
aiogram-dialog~=2.1.0

# Async requests
httpx~=0.27.0

# Cache
redis~=5.2.1

# Config and settings
pydantic~=2.5.3
pydantic-settings~=2.1.0

# Logging
loguru~=0.7.2

# Prestart tasks
tenacity~=9.0.0
